<% provide(:title, 'Home') %>
 <h1>Home</h1>
    <p>
      This is the home page for the
      <a href="http://pennmicrofinance.org/"> Penn Microfinance</a>
      application.

       <img src="http://www.triplejump.eu/images/header_images/1085_header.jpg" alt="Penn Microfinance" height="200"></p>

      <p>
<body>
     <i> Bancos Comunitários são serviços financeiros solidários, em rede, de natureza associativa e comunitária, voltados para a geração de trabalho e renda na perspectiva de reorganização das economias locais, tendo por base os princípios da Economia Solidária.  Seu objetivo é promover o desenvolvimento de territórios de baixa renda, através do fomento à criação de redes locais de produção e consumo. Baseia-se no apoio às iniciativas da economia popular e solidária em seus diversos âmbitos, como:  de pequenos empreendimentos produtivos, de prestação de serviços, de apoio à comercialização e o vasto campo das pequenas economias populares.
      </i>
  </body>
</p>

<p>
<iframe width="420" height="315" src="//www.youtube.com/embed/bpSNM625LFU" frameborder="0" allowfullscreen></iframe>
</p>