<html>
<link rel="stylesheet" type="text/css" href="test.css" />
<body>
<div id= "name">
<div id = "title" width = 720>

<h3> BANCO <br> PALMAS</h3>
</div>
<div id= "motto" width= 720>
<p class="first">um sistema integrado de credito, producao, comercio, consumo e felicidade humana.</p>
</div>
</div>
<div id= "image">
<div id= "square">

<!-- <span class='green-square'></span> -->
<p class="secondtext"> nos estamos <br> aqui para <br> ajudar.</p>
</div>
<div id= "picture">

<IMG SRC="file:///Users/Michael/Dropbox/CSS/background.jpg" id= "pic" width =1440 >
</div>
</div>
<div id = "buttons" height = 200 width = 1440>
<h2> 
<a href="www.facebook.com" class= "ill">CLICK HERE TO LEARN MORE ABOUT BANCO PALMAS</a>
</h2>
<h1> 
<a href="#" class="classname">DONATE</a>
</h1> 
<p class="second"> created by the penn microfinance brazil team</p>
</div>
</body>
</html>
